/* ************************************ */
/* Big Tablet */
/* ************************************ */
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}
/* ************************************ */
/* Tablet */
/* ************************************ */
@media (max-width: 944px) {
  html {
    font-size: 50%;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-in;
  }
  .nav-open .main-nav {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.2rem;
  }
  .mobile-nav-btn {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }
  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }
  .hero {
    padding: 0 0.8rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 6.4rem;
  }
  .hero-text-box {
    text-align: center;
  }
  .delivered-meals {
    justify-content: center;
  }
  .hero-img-box {
    text-align: center;
  }
  .hero-img {
    width: 70%;
  }
  .featured-logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.4rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem;
  }
  .section-testimonial {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta {
    grid-template-columns: 3fr 2fr;
    padding-left: 0;
  }
  .cta-form {
    grid-template-columns: repeat(1, 1fr);
  }
  .btn-form {
    margin-top: 1.2rem;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
  }
}
/* ************************************ */
/* Small Tablet */
/* ************************************ */
@media (max-width: 700px) {
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: 1fr 1fr;
  }
  .diets {
    grid-column: 1/-1;
    justify-self: center;
  }
  .pricing-plan {
    width: 100%;
  }
}
/* ************************************ */
/* Smartphone */
/* ************************************ */
@media (max-width: 570px) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid-2-cols,
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: 1fr;
  }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
  .section-hero {
    padding: 2.4rem 0 6.4rem;
  }
  .hero {
    padding: 0 3.2rem;
  }
  .hero-img {
    width: 80%;
  }
  .featured-logos img {
    height: 1.2rem;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .pricing-plan-complete::after {
    top: 10%;
    right: -10%;
    font-size: 1.6rem;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-text-box {
    padding: 3.2rem;
  }
  .cta-img-box {
    display: none;
  }
}
