/* Reset CSS
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
}

textarea {
  resize: vertical;
}

button,
[role="button"] {
  cursor: pointer;
} */
.section {
  padding: 100px 0;
}
.section-title {
  margin-bottom: 50px;
  text-align: center;
}
.section-title h2 {
  border-bottom: 2px solid #1d1d1d;
}
