/* ************************************ */
/* Header Section */
/* ************************************ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.logo {
  font-size: 3.2rem;
  font-weight: 600;
  color: #555;
}
.logo span {
  color: #e67e22;
}
/* ************************************ */
/* Nav */
/* ************************************ */
.main-nav {
}
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.4s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
.mobile-nav-btn {
  display: none;
}
/* ************************************ */
/* Hero Section */
/* ************************************ */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
.hero-img-box {
}
.hero-img {
  width: 100%;
}
/* ************************************ */
/* Featured in Section */
/* ************************************ */
.section-featured {
  padding: 4.8rem 0 3.2rem;
}
.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #767676;
}
.featured-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured-logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}
/* ************************************ */
/* How in Section */
/* ************************************ */
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::after {
  content: "";
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.step-img-box::before {
  content: "";
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.step-img {
  width: 35%;
}
